################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LabOne/FileContentIndex/5dedae7c-4d53-471a-8c43-99c71c372421.vsidx
/.vs/LabOne/FileContentIndex
