################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LabOne/FileContentIndex/3835b92a-919b-4fd4-90c9-333a7663cbc9.vsidx
